@use 'src/styles/vars';

.app{
  position:relative;
  height:100vh;
  overflow: hidden;

  &.dark{
    background-color:vars.$backgroud_color;
  }
  
  &.light{
    background-color: white;
    color: vars.$backgroud_color;
  }
}


